<!doctype html>
<body>
<title> Movie DB </title>
<link rel="stylesheet" type="text/css" href=''url_for('static',filenbame='style.css') }}">
<h1> Adam Football DB </h1>
    <searchbox>
<form action="" method="post" name="form">
  <label for="Name of the player">Name:</label>
  <input type="text" name="name" id="name"/>
  <input type="submit" name="Search" id="submit"/>
  </form>
    </searchbox>
<p1> This is a database of all my favourite football players </p1> 
</body>    
<ul>
    <li href="www.facebook.com"> View all Players  </li>
    <li> Find a football club </li>
    <li> players of the week </li>
</ul>
 </html>
