<!doctype html>
<body>
<title> Movie DB </title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">
<div id="websiteName">
<h1> Adam Football DB </h1>
</div>
<div id="searchbox">
<form action="" method="post" name="form">
  <label for="Name of the player">Name:</label>
  <input type="text" name="name" id="name"/>
  <input type="submit" name="Search" id="submit"/>
  </form>
</div>  
<p1> This is a database of all my favourite football players </p1>    
<div class="Menu">
<ul>
    <li><a href="localhost:5000"> View all Players </a></li>
    <li><a href=""> Find a football club </a></li>
    <li><a href=""> Players of the week </a> </li>
</ul>
</div>
{% block content %} {% endblock %}
</body>
 
 </html>
