{% extends "header.html" %}
{%block content%}
<div class="main">
<h2> Lastly Added Players: <h2>
<ul id = "LAPlayers">
{{ LAPlayers }}
</ul>
</div>
<div class="favPlayers">
<h2> Favourite Players: </h2>
<ul id = "LAPlayers">
<li><a href="http://localhost:5000/home"> Alexandre Lacazette <img src="http://futhead.cursecdn.com/static/img/15/players/193301.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
<li><a href="http://localhost:5000/home"> Lionel Messi <img src="http://futhead.cursecdn.com/static/img/15/players/158023.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
<li><a href="http://localhost:5000/home"> Cristiano Ronaldo <img src="http://futhead.cursecdn.com/static/img/15/players/20801.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
<li><a href="http://localhost:5000/home"> Eden Hazard <img src="http://futhead.cursecdn.com/static/img/15/players/183277.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
<li><a href="http://localhost:5000/home"> Vincent Koziello <img src="http://futhead.cursecdn.com/static/img/15/players/225199.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
<li><a href="http://localhost:5000/home"> Karim Benzema <img src="http://futhead.cursecdn.com/static/img/15/players/165153.png" style="float: left;width="200"="" height="200" class="rotate" <="" html=""> </li>
</ul>
</div>
{%endblock%}}

