{% extends "header.html" %}
{%block content%}
<div class="main">
<h2> Last 5 Added Players: <h2>
<ul id = "LAPlayers">
{{ LAPlayers }}
</ul>
</div>

<div class="favPlayers">
<h2> Favourite Players: </h2>
<ul class= "LAPlayers">
<li><a href="http://localhost:5000/5"><img src="http://futhead.cursecdn.com/static/img/15/players/193301.png" style="float: center;width="7%"="" height="auto" class="blog" </li>
<li><a href="http://localhost:5000/3"><img src="http://futhead.cursecdn.com/static/img/15/players/158023.png" style="float: center;width="7%"="" height="auto" class="blog" </li>
<li><a href="http://localhost:5000/2"><img src="http://futhead.cursecdn.com/static/img/15/players/20801.png" style="float: center;width="7%"="" height="auto" class="blog"  </li>
<li><a href="http://localhost:5000/1"><img src="http://futhead.cursecdn.com/static/img/15/players/183277.png" style="float: center;width="7%"="" height="auto" class="blog" </li>
<li><a href="http://localhost:5000/6"><img src="http://futhead.cursecdn.com/static/img/15/players/225199.png" style="float: center;width="7%"="" height="auto" class="blog" </li>
</ul>

<div class="favPlayersnm">
<ul class=names>
<li><a href="http://localhost:5000/5">Alexandre Lacazette </li>
<li><a href="http://localhost:5000/3">Lionel Messi </li>
<li><a href="http://localhost:5000/2"> Cristiano Ronaldo  </li>
<li><a href="http://localhost:5000/1"> Eden Hazard  </li>
<li><a href="http://localhost:5000/6"> Vincent Koziello </li>
</ul>
</div>
</div>
{%endblock%}}

