{% extends "header.html" %}
{%block content%}
<div class="main">
<h2> Last 5 Added Players: <h2>
<ul id = "LAPlayers">
{{ LAPlayers }}
</ul>
</div>
<div class="favPlayers">
<h2> Favourite Players: </h2>
<ul id = "LAPlayers">
<li><a href="http://localhost:5000/5"> Alexandre Lacazette <img src="http://futhead.cursecdn.com/static/img/15/players/193301.png" style="float: left;width="200"="" height="200" class="blog" <="" html=""> </li>
<li><a href="http://localhost:5000/3"> Lionel Messi <img src="http://futhead.cursecdn.com/static/img/15/players/158023.png" style="float: left;width="200"="" height="200" class="blog" <="" html=""> </li>
<li><a href="http://localhost:5000/2"> Cristiano Ronaldo <img src="http://futhead.cursecdn.com/static/img/15/players/20801.png" style="float: left;width="200"="" height="200" class="blog" <="" html=""> </li>
<li><a href="http://localhost:5000/1"> Eden Hazard <img src="http://futhead.cursecdn.com/static/img/15/players/183277.png" style="float: left;width="200"="" height="200" class="blog" <="" html=""> </li>
<li><a href="http://localhost:5000/6"> Vincent Koziello <img src="http://futhead.cursecdn.com/static/img/15/players/225199.png" style="float: left;width="200"="" height="200" class="blog" <="" html=""> </li>
</ul>
</div>
{%endblock%}}

